exportPattern("^[[:alpha:]]+")
importFrom("rms", "cph")
importFrom("survival", "coxph")
importFrom("boot", "boot")
importFrom("stats", "formula", "pnorm", "qnorm", "sd", "na.omit")
importFrom("Hmisc", "rcorrcens")
