exportPattern("^[[:alpha:]]+")
importFrom("rms", "cph","lrm")
importFrom("survival", "coxph")
importFrom("boot", "boot","boot.ci")
importFrom("stats", "formula", "pnorm", "qnorm", "sd", "na.omit", "glm")
importFrom("Hmisc", "rcorrcens")
